# Eclipse
build
.project
.DS_Store
.classpath
.settings/
bin/**
libs
dist

# General
.DS_Store
tmp
bin
build

# Ti
*/*/modules
*/*/modules*
.apt_generated
build.properties
.gitignore
.svn
*.pyc

# Xcode
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*

# Android
.idea/
libs/

android/clean
android/ant_clean
android/.classpath
android/.settings

android/launch-*
nbproject
/android/java-sources.txt
