LICENSE
README.md
assets/*
documentation
example/*
ios/*
.gitignore
start.sh
android/LICENSE
android/Resources
amdroid/assets
android/build/*
android/build.properties
android/build.xml
android/dist/*
android/documentation
android/example
android/libs/*
android/manifest
src
